.mce-tinymce.mce-container.mce-panel {
    border-radius: var(--rounded-btn, .5rem);
    overflow: hidden;
    border: unset;
    box-shadow: unset;
}

@font-face {
    font-family:"BTitr";
url( "../fonts/btitr.ttf" )
format( "truetype" );
}


@font-face {
    font-family: yekan;
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/yekan/eot/iranyekanweblight(fanum).eot");
    src: url("../fonts/yekan/eot/iranyekanweblight(fanum).eot?#iefix") format("embedded-opentype"), url("../fonts/yekan/woff2/iranyekanweblight(fanum).woff2") format("woff2"), url("../fonts/yekan/woff/iranyekanweblight(fanum).woff") format("woff"), url("../fonts/yekan/ttf/iranyekanweblight(fanum).ttf") format("truetype");
}

@font-face {
    font-family: yekan;
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/yekan/eot/iranyekanwebregular(fanum).eot");
    src: url("../fonts/yekan/eot/iranyekanwebregular(fanum).eot?#iefix") format("embedded-opentype"), url("../fonts/yekan/woff2/iranyekanwebregular(fanum).woff2") format("woff2"), url("../fonts/yekan/woff/iranyekanwebregular(fanum).woff") format("woff"), url("../fonts/yekan/ttf/iranyekanwebregular(fanum).ttf") format("truetype");
}

body {
    background-color: white;
    margin: 0;
    direction: rtl;
    text-align: right;
    padding: 0;
    font-size: 13px;
    overflow-x: hidden;
    width: 100%;
    max-width: 100vw;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: "yekan" !important;
}

body input {
    font-family: "yekan" !important;
}
.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #fff;
}

.swiper-pagination {
    bottom: 20% !important;
}

.items-title {
    font-size: 1.75rem;
    font-weight: bold;
    position: relative;
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
    margin-bottom: 20px;
}

.items-title::after {
    content: "";
    width: 100px;
    height: 5px;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    background-color: #FF7A30;
}

.table_item-card {
    position: relative;
    box-shadow: rgb(183 183 183 / 40%) -5px 5px 10px;
}

.table_item-card::after {
    content: "";
    width: 115px;
    height: 7px;
    border-radius: 0 0 10px 10px;
    position: absolute;
    top: 0;
    background-color: #FF7A30;
}

table tr:nth-child(even) td {background-color: #FFE2C7;}
table tr td {text-align: center;}

footer::before {
    content: "";
    width: 120%;
    box-sizing: border-box;
    height: 300px;
    top: -150px;
    position: absolute;
    border-radius: 50%;
    background: rgb(254 215 170);
    z-index: -1;
}

@media only screen and (max-width: 600px) {
    footer::before {
        height: 20vh;
        top: -10vh;
    }
}
